:root {
  --bitcoinOrange: #f7931a;
  --softOrange: #ffe9d4;
  --secundaryBlue: #1a9af7;
  --softBlue: #e7f5ff;
  --warmBlack: #201e1c;
  --warmBlackMas1: #282623;
  --grey: #bababa;
  --offWhite: #faf8f7;
  --justWhite: #ffffff;
  --greygrey: #757575;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: var(--offWhite);
  font-family: "DM Sans", sans-serif;
}
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  align-items: center;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}
header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
}
.header-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 288px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}
.header-container h1 {
  color: var(--justWhite);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
}
.header-container p {
  color: var(--softOrange);
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
}
.header-buton_container {
  display: flex;
  justify-content: center;
}
.header-button {
  position: absolute;
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--offWhite);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 8px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--warmBlack);
}
.header-button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("../assets/icons/down-arrow.svg");
}
main {
  width: 100%;
  height: auto;
  background-color: var(--offWhite);
}
.main-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
.main-container_title {
  width: 90%;
  min-width: 320px;
  max-width: 900px;
  margin: 0 auto;
}
.backgroundImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-image: url("../assets/img/Bitcoin.svg");
  margin-bottom: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-container_title h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--warmBlack);
}
.main-container_title p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--greygrey);
  line-height: 1.6rem;
}

.table-container {
  display: flex;
}
.table p {
  width: 100px;
  height: 40px;
  display: flex;

  align-items: center;
}
.table-section_one p {
  color: #b5b0ac;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: -0.01rem;
  justify-content: flex-start;
  font-weight: 600;
}
.table-section_two p {
  color: var(--greygrey);
  font-size: 1.4rem;
}
.main-container_table .tableSectionTitle {
  color: var(--bitcoinOrange);
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 700;
}
.table-section_icon {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.down {
  background-image: url("../assets/icons/trending-down.svg");
}
.up {
  background-image: url("../assets/icons/trending-up.svg");
}
.table-update {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.table-update p {
  background-color: var(--softOrange);
  color: var(--warmBlack);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.4rem;
  width: 185px;
  height: 35px;
  border-radius: 8px;
}
.table-update b {
  font-weight: bold;
  margin-right: 3px;
}
.table-update p {
  font-size: 1.4rem;
}

.idk {
  display: flex;
  align-items: center;
  justify-content: center;
}
.idk2 {
  margin-top: 30px;
}
.table-container .Comisiones {
  color: var(--secundaryBlue);
}
main .comisiones-update p {
  background-color: var(--softBlue);
}
.main-product_details {
  background-color: var(--warmBlack);
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-detail_logo {
  position: absolute;
  width: 40px;
  height: 25px;
  top: -10px;

  background-image: url("../assets/icons/batata.svg");
}
.product-detail_title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0% auto;
  margin-top: 30px;
  text-align: center;
}
.product-detail_title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;

  color: var(--justWhite);
  font-weight: bold;
  line-height: 2.6rem;
}
.product-detail_title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
