:root {
  --bitcoinOrange: #f7931a;
  --softOrange: #ffe9d4;
  --secundaryBlue: #1a9af7;
  --softBlue: #e7f5ff;
  --warmBlack: #201e1c;
  --warmBlackMas1: #282623;
  --grey: #bababa;
  --offWhite: #faf8f7;
  --justWhite: #ffffff;
  --greygrey: #757575;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: var(--offWhite);
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  align-items: center;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}
header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
}
.header-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 288px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}
.header-container h1 {
  color: var(--justWhite);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
}
.header-container p {
  color: var(--softOrange);
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
}
.header-buton_container {
  display: flex;
  justify-content: center;
}
.header-button {
  position: absolute;
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--offWhite);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 8px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--warmBlack);
}
.header-button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("../assets/icons/down-arrow.svg");
}
main {
  width: 100%;
  height: auto;
  background-color: var(--offWhite);
}
.main-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
.main-container_title {
  width: 90%;
  min-width: 320px;
  max-width: 900px;
  margin: 0 auto;
}
.backgroundImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-image: url("../assets/img/Bitcoin.svg");
  margin-bottom: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-container_title h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--warmBlack);
}
.main-container_title p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--greygrey);
  line-height: 1.6rem;
}

.table-container {
  display: flex;
}
.table p {
  width: 100px;
  height: 40px;
  display: flex;

  align-items: center;
}
.table-section_one p {
  color: #b5b0ac;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: -0.01rem;
  justify-content: flex-start;
  font-weight: 600;
}
.table-section_two p {
  color: var(--greygrey);
  font-size: 1.4rem;
}
.main-container_table .tableSectionTitle {
  color: var(--bitcoinOrange);
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 700;
}
.table-section_icon {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.down {
  background-image: url("../assets/icons/trending-down.svg");
}
.up {
  background-image: url("../assets/icons/trending-up.svg");
}
.table-update {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.table-update p {
  background-color: var(--softOrange);
  color: var(--warmBlack);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.4rem;
  width: 185px;
  height: 35px;
  border-radius: 8px;
}
.table-update b {
  font-weight: bold;
  margin-right: 3px;
}
.table-update p {
  font-size: 1.4rem;
}

.idk {
  display: flex;
  align-items: center;
  justify-content: center;
}
.idk2 {
  margin-top: 30px;
}
.table-container .Comisiones {
  color: var(--secundaryBlue);
}
main .comisiones-update p {
  background-color: var(--softBlue);
}
.main-product_details {
  background-color: var(--warmBlack);
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-detail_logo {
  position: absolute;
  width: 40px;
  height: 25px;
  top: -10px;
  background-image: url("../assets/icons/batata.svg");
}
.product-detail_title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0% auto;
  margin-top: 30px;
  text-align: center;
}
.product-detail_title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;

  color: var(--justWhite);
  font-weight: bold;
  line-height: 2.6rem;
}
.product-detail_title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
.product-detail_card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  min-height: 150px;
  margin: 15px 0;
  padding: 15px;
  background-color: var(--warmBlackMas1);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail_card_icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.clock {
  background-image: url("../assets/icons/clock.svg");
}
.product-card_title {
  margin-bottom: 7px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--justWhite);
}
.eye {
  background-image: url("../assets/icons/eye.svg");
}
.product-card_body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
.money {
  background-image: url("../assets/icons/dollar-sign.svg");
}
.check {
  background-image: url("../assets/icons/check-circle.svg");
}
.bitcoing-container_img {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background-image: url("../assets/img/bitcoinbaby.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.bitcoing-container_img h2 {
  color: var(--justWhite);
  padding-top: 60px;
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: bold;
}

.main-container_plans {
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.plans-title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin-bottom: 50px;
}
.plans-title h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--warmBlack);
}
.plans-title p {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}
/* Aplicando estilos a sección de planes clase 23 */
.plans-container_slide {
  font-family: "Inter", sans-serif;
}
.plans-container_slide {
  position: relative;
  width: 190px;
  height: 280px;
  margin: 10px 0;
  padding: 0 15px;
  background-color: var(--offWhite);
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.recommended {
  position: absolute;
  background-color: var(--bitcoinOrange);
  top: -20px;
  color: var(--justWhite);
  width: 110px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 8px;
}
.plan-container_info {
  display: flex;
  justify-content: center;
}
.plan-card_title {
  font-family: "DM Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.8rem;
  margin-bottom: 8px;
}
.plan-container__info {
  margin-top: 16px;
}
.plan-card_price {
  font-size: 5.2rem;
  font-weight: bold;
  letter-spacing: -8%;
  display: flex;
  justify-content: center;
  margin-bottom: 9px;
}
.plan-card_price span {
  font-size: 1.2rem;
  font-weight: 500;
  align-self: flex-start;
  padding-top: 10px;
}
.plan-card_saving {
  color: var(--greygrey);
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 16px;
}
.plan-card_cta {
  border: 2px solid var(--bitcoinOrange);
  padding: 10px;
  color: var(--warmBlack);
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  background-color: var(--offWhite);
  border-radius: 8px;
  align-self: center;
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.container-button {
  display: flex;
  width: 100%;
  justify-content: center;
}
.plan-card_cta span {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-image: url("../assets/icons/arrowRight.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 5px;
}
.plans-container_slide .plan-card_price_gray {
  color: var(--greygrey);
}
.plan-container_info .plan-card_cta_gray {
  border: 2px solid var(--greygrey);
  color: var(--greygrey);
}
.plan-container_info .plan-card_cta_gray span {
  filter: invert(56%);
}
footer {
  display: flex;
  background-color: var(--bitcoinOrange);
  width: 100%;
  height: 150px;
  justify-content: space-around;
}
footer section {
  align-self: center;
}
footer .left ul {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;

  list-style: none;
}
footer .left li {
  margin: 10px 0;
}
.left a {
  text-decoration: none;
  color: var(--justWhite);
}
.rigth img {
  width: 20vw;
}
